<MudThemeProvider Theme="@Theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<Router AppAssembly="@typeof(App).Assembly">
        <Navigating>
            <MudProgressCircular Color="Color.Primary" Indeterminate Size="Size.Large"/>
        </Navigating>
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    MudTheme Theme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = "#ed2c2d",
                Secondary = "#831F20",
                AppbarBackground = "#191414"
            },
        };
}